.gradle
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar
.class
#it will be much simpler to hide some data by ignoring properties
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/